@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik&display=swap');

html, body{
  margin: 0%;
  padding: 0%;
  height: 100%;
}

.App {
  box-sizing: border-box;
  background: #00302E;
  font-family: 'Poppins', 'Rubik';
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFFDE;
}
