@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik&display=swap');

html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.App {
  background: #00302E;
  font-family: 'Poppins', 'Rubik';
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFFDE;
  height: inherit;
}

@media screen and (max-width: 680px) {
  .App{
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .App {
      font-size: 12px;
    }
}

@media screen and (max-width: 150px) {
  .App{
    font-size: 5px;
  }
}

*{
  /* outline: solid 1px red; */
}