@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

html{
  margin: 0%;
  padding: 0%;
  height: 100%;
}

.App {
  box-sizing: border-box;
  background: #00302E;
  font-family: 'poppins';
  font-style: normal;
  color: #FFFFFFDE;
}